html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #24292E;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_end {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.margin_bottom {
    margin-bottom: 15%;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.inline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.section_1 {
    width: 60%;
    height: 100%;
}

.section_2 {
    width: 35%;
    height: 100%;
    background-color: #2B3137;
}

.section_3 {
    width: 5cqi;
    height: 100%;
    margin-bottom: 2.5%;
}

h1 {
    color: #FAFBFC;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}

h2 {
    color: #FAFBFC;
    /* Set text color to white */
    font-size: 14px;
    /* Set font size to 14 pixels */
    font-weight: 400;
    /* Use semi-bold (you can also use 'font-weight: bold;' for stronger emphasis) */
    margin-top: 0.5%;
    /* Add margin top of 2.5% */
}

h3 {
    color: #FAFBFC;
    /* Set text color to white */
    font-size: 24px;
    /* Set font size to 14 pixels */
    font-weight: 400;
    /* Use semi-bold (you can also use 'font-weight: bold;' for stronger emphasis) */
    margin: 0px;
    overflow: hidden;
    /* Hide potential overflow content */
    text-overflow: ellipsis;
    /* Show ellipsis for overflow text */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

h4 {
    color: #FAFBFC;
    /* Set text color to white */
    font-size: 16px;
    max-lines: 3;
    /* Set font size to 14 pixels */
    font-weight: 200;
    margin: 0px;
    /* Use semi-bold (you can also use 'font-weight: bold;' for stronger emphasis) */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines before truncation */
    -webkit-box-orient: vertical;
}



/* CSS for the custom button */
.custom-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 45px;
    padding: 25px 10px;
    margin: 20px;
    cursor: pointer;
    max-width: 45%;
    width: 35%;
    font-size: larger;
    transition: all 0.3s ease;
}

.custom-button:hover {
    background-color: #2dba4e;
    /* Change background color to black on hover */
    color: #fafbfc;
    /* Change text color to white on hover */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .custom-button {
        /* Adjust styles for smaller screens if needed */
        padding: 8px 16px;
        /* Example: Decrease padding for smaller screens */
        margin: 10px;
        /* Example: Decrease margin for smaller screens */
    }
}

/* Basic styles for the search bar */
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 22px;
    padding: 18px 15px 18px 15px;
    width: 68%;
    /* Adjust width as needed */
    margin-top: 20px;
    margin-bottom: 5px;
    /* Center the search bar */
    background-color: white;
    font-size: large;
    font-weight: 400;
    /* Set background color to white */
}

.search-container-2 {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 22px;
    padding: 18px 15px 18px 15px;
    width: 28%;
    margin-left: 2.2%;
    /* Adjust width as needed */
    margin-top: 20px;
    margin-bottom: 5px;
    /* Center the search bar */
    background-color: white;
    font-size: large;
    font-weight: 400;
    /* Set background color to white */
}





.search-field {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    margin: 0 10px;
    background: none;
    font-size: 24px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-field::placeholder {
    font-size: 24px;
    /* Set placeholder font size to 24 pixels */
    font-weight: 400;
    /* Set placeholder font weight to semi-bold */
    color: black;
    /* Set placeholder text color to black */
    opacity: 0.6;
    /* Set opacity for placeholder */
}

.icon {
    cursor: pointer;
    margin: 0 5px;
}

/* Modify icon styles if needed */


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    background-color: #2DBA4E;
    /* Black background color */
    color: #FAFBFC;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 14px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar horizontally */
    bottom: 30px;
    /* 30px from the bottom */
    transform: translateX(-50%);
    /* Center the snackbar horizontally */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


/* Snack Bar */

.heading_seaction {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: 15%;
}

.List_section {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
}

.card {
    width: 85%;
    max-height: auto;
    border-radius: 21px;
    background-color: #24292E;
    box-sizing: border-box;
    display: grid;
    row-gap: 8px;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto;
    padding: 2.5%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    margin-left: 5%;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    margin-left: 5%;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.div4 {
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    height: 100%;
    margin-left: 5%;
}

/* Add this to your CSS file */
#error.snackbar {
    background-color: red;
    /* Other styles for error notification */
}

#logo {
    width: 54px;
    height: auto;
    margin-bottom: 1.5%;
}

#Setting_Icon
{
    display: none;
}